@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* common shared style */
body {
    font-family: "Merriweather", serif;
    margin: 0;
    padding: 0;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

/* header related style */
header {
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('./resources/Banner\ Image.png');
    background-repeat: no-repeat;
    text-align: center;
    max-width: 1320px;
    margin: 30px auto;
    padding: 177px 0px;
    border: none;
    border-radius: 16px;
}

.header-info {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 600;
    line-height: 16px;
}

.header-title {
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-weight: 900;
    line-height: 20px;
}

/* discount section */

.discount-container {
    font-family: "Inter", sans-serif;
    max-width: 802px;
    text-align: center;
    margin: 120px auto;

}

.discount-title {
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700;
    line-height: 48px;
}

.discount-info {
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 16px;
}

.discount-item {
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 700;
    line-height: 0px;
}

/* Welcome banner */

.welcome-banner {
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('./resources/Vectorrr.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    border: none;
    max-width: 1320px;
    margin: 100px auto;
}

.welcome-container {
    padding: 126px;
}

.wel-ban {
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 900;
    line-height: 24px;
}

.wel-ban-info {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: 400;
    width: 80%;
}

.btn-primary {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 8px;
}

.btn-primary:hover {
    background-color: red;
}

/* place container */

.place {
    max-width: 1320px;
    margin: 20px auto;
    font-family: "Inter", sans-serif;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
}

.place-container {
    text-align: center;
    padding: 110px;
}

.place-title {
    color: rgb(7, 2, 17);
    font-size: 30px;
    font-weight: 600;
    line-height: 20px;
}

.intro {
    color: rgb(255, 0, 0);
}

.btn-join {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    background-color: rgb(255, 0, 0);
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.btn-join:hover {
    background: none;
    color: rgb(7, 2, 17);
}

/* offer section */

.offer {
    max-width: 1320px;
    margin: 120px auto;
}

.offer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer-1 {
    width: 30%;
}

.offer-image {
    width: 35%;
}

.image {
    border-radius: 50%;
    border: 10px solid rgb(255, 0, 0);
    padding: 15px;
}

.offer-2 {
    width: 25%;
}

.offer-1-title, .sale-title {
    font-family: "Inter", sans-serif;
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 5px;
}

.offer-1-intro {
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 900;
    line-height: 20px;
}

.offer-1-description, .offer-2-description, .sale-description {
    font-family: "Inter", sans-serif;
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
}

.offer-2-title {
    font-family: "Inter", sans-serif;
    color: rgb(255, 0, 0);
    font-size: 48px;
    font-weight: 700;
    line-height: 5px;
}

/* sales section */

.sale {
    max-width: 1068px;
    margin: 0 auto;
    text-align: center;
}

.sale-info {
    color: rgb(7, 2, 17);
    font-size: 72px;
    font-weight: 900;
    line-height: 20px;
}